################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApps/.vs/DemoApps
/DemoApps/ChatApp/obj
/DemoApps/CommonLib/obj
/DemoApps/CommonLibN/obj
/DemoApps/CommonLibN/x64/Debug
/DemoApps/WebcamApp/obj
*.user
/DemoApps/WebcamLib/obj
/DemoApps/ChatApp/bin/Debug/net8.0-windows8.0
/DemoApps/CommonLib/bin/Debug/net8.0
/DemoApps/CommonLibN/Debug
/DemoApps/Debug
/DemoApps/WebcamApp/bin/Debug/net8.0-windows8.0
/DemoApps/WebcamLib/bin/Debug/net8.0-windows8.0
/DemoApps/x64/Debug
*.bin
/DemoApps/CommonLib/bin/Debug/net8.0-windows
/DemoApps/DemoUISpy/bin/Debug/net8.0-windows7.0
/DemoApps/DemoUISpy/obj
